apiVersion: apps/v1
kind: Deployment
metadata: 
   name: nginx
spec: 
  replicas: 3
  selector: 
    matchLabels:
      app: nginx
  template: 
    metadata:
      labels:
        app: nginx
  spec: 
    container: 
      - name:  nginx
        image:  nginx:stable-alpine3.23-perl
        ports: 
        - containerPort: 80
